<h3>Let's create a contact!</h3>
<a href="/">Back</a>


<form action="/create_contact" method="post">
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="contact[first_name]">
  <br>
  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="contact[last_name]">
  <br>
  <input type="submit" value="Create Contact">
</form>