<h3>Let's edit a contact!</h3>
<a href="/">Back</a>


<form action="/edit_contact/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="contact[first_name]" value="<%= @contact.first_name %>">
  <br>
  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="contact[last_name]" value="<%= @contact.last_name %>">
  <br>
  <input type="submit" value="Edit Contact">
</form>